<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "皓天生技 - 台灣極品牛樟芝" %></title>
    <meta property="og:image" content="http://www.haotien.com.tw/images/fb-share-image.jpg"/>
    <meta property="og:url" content="http://www.haotien.com.tw" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1288398407851824" />
    <meta property="og:description" content="皓天天生技自今年已成立24年，就秉持牛樟芝產品的開發，造福人類的宗旨，每年均投入數千萬元用於研發牛樟芝新產品，歷經24多個寒暑，賴各界及投資人長期支持，也成為全球研發抗癌藥物研究的重要生技公司之一；我們不但要使全球癌症病患有更多的選擇，且有更好的選擇，任何的事業都有目的，而我們就是以提供更好的醫藥，造福更多病患為目標！而且，堅持原則，始終如一！" />
    <meta property="og:title" content="<%= current_page.data.title || "皓天生技 - 台灣極品牛樟芝" %>" />

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <link rel="icon"
      type="image/png"
      href="<%= image_path ('favicon.png') %>">
  </head>

  <body class="<%= page_classes %>">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.7&appId=630424637093473";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header>
      <%= partial 'partials/nav' %>
    </header>
    <div class="container-fluid wrapper hide-temp">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 main-body">
        <%= yield %>
      </div>
    </div>
    <%= partial 'partials/footer' %>
    <%= javascript_include_tag :main %>
    <div class="mei-hua hide-temp"></div>
    <div class="ruby-1 hide-temp"></div>
    <a href="/contact" class="contact-now-btn">馬上聯絡</a>
    <div class="facebook-fans-block">
      <div class="facebook-btn"><i class="ion-social-facebook"></i>皓<br>天<br>粉<br>絲<br>團</div>
      <div class="fb-page" data-href="https://www.facebook.com/haotientaiwan/" data-tabs="timeline" data-height="180" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/haotientaiwan/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/haotientaiwan/">臺灣皓天牛樟芝</a></blockquote></div>
    </div>
  </body>
</html>
