---
title: '產品介紹 | 皓天生技 - 台灣極品牛樟芝'
---
<div class="page-content">
	<h1 class="page-title">產品介紹</h1>
	<div class="hr"></div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag ('product/17.jpg'), class: 'thumbnail' %>
		</div>
		<div class="col-md-6">
			<h2>牛樟芝滴丸</h2>
			<p>
				滴丸，透過舌下含食，經過唾液接觸後迅速溶化，並經由口腔粘膜及舌下微靜脈吸收，直接進入血液循環系統發揮作用。
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag ('product/26.jpg'), class: 'thumbnail' %>
		</div>
		<div class="col-md-6">
			<h2>牛樟芝固體飲料</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag ('product/27.jpg'), class: 'thumbnail' %>
		</div>
		<div class="col-md-6">
			<h2>牛樟芝草本複方口噴液</h2>
			<p>
				滴丸，透過舌下含食，經過唾液接觸後迅速溶化，並經由口腔粘膜及舌下微靜脈吸收，直接進入血液循環系統發揮作用。
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag ('product/28.jpg'), class: 'thumbnail' %>
		</div>
		<div class="col-md-6">
			<h2>牛樟芝子實體精油手作皂</h2>
			<p>
				滴丸，透過舌下含食，經過唾液接觸後迅速溶化，並經由口腔粘膜及舌下微靜脈吸收，直接進入血液循環系統發揮作用。
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag ('product/29.jpg'), class: 'thumbnail' %>
		</div>
		<div class="col-md-6">
			<h2>牛樟芝羽斯面膜</h2>
			<p>
				滴丸，透過舌下含食，經過唾液接觸後迅速溶化，並經由口腔粘膜及舌下微靜脈吸收，直接進入血液循環系統發揮作用。
			</p>
		</div>
	</div>
</div>
