---
title: '檢驗報告 | 皓天生技 - 台灣極品牛樟芝'
---
<div class="page-content">
	<h1 class="page-title">檢驗報告</h1>
	<div class="hr"></div>
	<div class="row">
		<div class="col-md-6">
			<a href="<%= image_path ('case/1.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/1.jpg'), class: 'thumbnail' %>
			</a>
		</div>
		<div class="col-md-6">
			<a href="<%= image_path ('case/2.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/2.jpg'), class: 'thumbnail' %>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="<%= image_path ('case/3.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/3.jpg'), class: 'thumbnail' %>
			</a>
		</div>
		<div class="col-md-6">
			<a href="<%= image_path ('case/4.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/4.jpg'), class: 'thumbnail' %>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="<%= image_path ('case/5.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/5.jpg'), class: 'thumbnail' %>
			</a>
		</div>
		<div class="col-md-6">
			<a href="<%= image_path ('case/6.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/6.jpg'), class: 'thumbnail' %>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="<%= image_path ('case/7.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/7.jpg'), class: 'thumbnail' %>
			</a>
		</div>
		<div class="col-md-6">
			<a href="<%= image_path ('case/8.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/8.jpg'), class: 'thumbnail' %>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="<%= image_path ('case/9.jpg') %>" target="_blank" class="report-img">
				<div class="report-img-mask"><p>點我看大圖</p></div>
				<%= image_tag ('case/9.jpg'), class: 'thumbnail' %>
			</a>
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>
